/*  slideshow.css, version 0.3
 *  (c) Copyright 2007 Nathan Herald
 *
 *  slideshow.js is freely distributable under the terms of the GPL 2.0
 *  For details, see the slideshow.js web site: http://code.google.com/p/slideshow-js/
 *
 *------------------------------------------------------------------------------------*/

.slideshow {
	width: 400px;
	height: 320px;
	overflow: auto;
	position: relative;
}

.slideshow ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60000px;
	position: absolute;
	top: 0;
	left: 0;
}

.slideshow ul li {
	float: left;
	margin-right: 10px;
}

.slideshow-nav {
	width: 400px;
	position: relative;
}

.slideshow-description {
	display: block;
	background: black;
	color: white;
	padding: 5px;
	font-size: 11px;
}

.slideshow-next-prev {
	text-align: right;
}

.slideshow-prev, .slideshow-next {
	font-size: 10px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin: 5px;
}

.slideshow-play-stop {
	float: left;
}

.slideshow-play, .slideshow-stop {
	font-size: 10px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin: 5px;
}

.slideshow-play-only .slideshow-stop {
	display: none;
}

.slideshow-stop-only .slideshow-play {
	display: none;
}